.video{
  margin: 50px;
  font-family: monospace;
}

.video-h h1{
  text-align: center;
  font-size: 35px;
  color: crimson;
  
  }
  
  .video-h h2{
    text-align: center;
  font-size: 30px;
  }

  .video-container{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 gap: 30px;
  }
  .video-card iframe{
    border-radius: 10px;
  }